apiVersion: v1
kind: Secret
metadata:
  name: production-service-secrets
type: Opaque
stringData:
  DATABASE_URL: "postgresql://user:password@host/production_db"
  AWS_ACCESS_KEY_ID: "your-key"
  AWS_SECRET_ACCESS_KEY: "your-secret"
  SQS_QUEUE_URL: "https://sqs.us-east-1.amazonaws.com/925149287297/oficina-os-events"
