apiVersion: v1
kind: Service
metadata:
  name: production-service
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: production-service
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
